<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
		/>
		<link rel="stylesheet" href="/css/style.css" />
		<title>Chat-Chat App</title>
	</head>
	<body>
		<div class="join-container">
			<header class="join-header">
				<h1><i class="fas fa-smile"></i> Chit-Chat</h1>
			</header>
			<main class="join-main">
				<form action="/chatroom" id="userform">
					<div class="form-control">
						<label for="username">Username</label>
						<input
							type="text"
							name="username"
							id="username"
							placeholder="Enter username..."
							required
						/>
					</div>
					<div class="form-control">
						<label for="room">Room</label>
						<select name="room" id="room">
							<option value="Maths">Maths</option>
							<option value="Music">Music</option>
							<option value="Bio">Bio</option>
							<option value="Chemistry">Chemistry</option>
							<option value="Physics">Physics</option>
							<option value="Computer">Computer</option>
						</select>
					</div>
					<button type="submit" class="btn">Join Chat</button>
				</form>
			</main>
		</div>
		<script src="/socket.io/socket.io.js"></script>
<script>
  const socket = io();
</script>
<script src="../js/main.js"></script>
	</body>
</html>
